.datepicker-months table td, .datepicker-years table td {
	padding-left: 20px !important;
}

.bootstrap-datetimepicker-widget .picker-switch .btn {
	padding: 10px;
	padding-top: 15px;
}

.bootstrap-datetimepicker-widget .timepicker {
	padding-top: 12px;
	padding-bottom: 7px;
}

.bootstrap-datetimepicker-widget .timepicker a.btn {
	padding: 0 5px;
}
